@model coderush.Models.ApplicationUser
@inject coderush.Data.ApplicationDbContext Context

@{
    UserProfile profile = Context.UserProfile.SingleOrDefault(x => x.ApplicationUserId.Equals(Model.Id));
}
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="@profile.ProfilePicture" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>@profile.FirstName @profile.LastName</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        
        <ul class="sidebar-menu" data-widget="tree">

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Auto Clave Rooms</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.ACR_PumpOnGround.ControllerName, action: MainMenu.ACR_PumpOnGround.ActionName)">
                        <a href="@MainMenu.ACR_PumpOnGround.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ACR_PumpOnGround.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ACR_ShihlinCtrl.ControllerName, action: MainMenu.ACR_ShihlinCtrl.ActionName)">
                        <a href="@MainMenu.ACR_ShihlinCtrl.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ACR_ShihlinCtrl.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ACR_SteamSterilizerMSTV.ControllerName, action: MainMenu.ACR_SteamSterilizerMSTV.ActionName)">
                        <a href="@MainMenu.ACR_SteamSterilizerMSTV.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ACR_SteamSterilizerMSTV.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Bio Safety Lab - DNA Extraction</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_Centrifuge.ControllerName, action: MainMenu.BSLDNAExt_Centrifuge.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_Centrifuge.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_Centrifuge.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_Centrifuge5424.ControllerName, action: MainMenu.BSLDNAExt_Centrifuge5424.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_Centrifuge5424.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_Centrifuge5424.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_DellDeskComp.ControllerName, action: MainMenu.BSLDNAExt_DellDeskComp.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_FLUOstarOmega.ControllerName, action: MainMenu.BSLDNAExt_FLUOstarOmega.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_FLUOstarOmega.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_FLUOstarOmega.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_HaierDW_40L508DeepFreezer.ControllerName, action: MainMenu.BSLDNAExt_HaierDW_40L508DeepFreezer.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_HaierDW_40L508DeepFreezer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_HaierDW_40L508DeepFreezer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_HaierHYC.ControllerName, action: MainMenu.BSLDNAExt_HaierHYC.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_HaierHYC.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_HaierHYC.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_HeatSealer.ControllerName, action: MainMenu.BSLDNAExt_HeatSealer.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_HeatSealer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_HeatSealer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_KingFisherFlex.ControllerName, action: MainMenu.BSLDNAExt_KingFisherFlex.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_KingFisherFlex.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_KingFisherFlex.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_LPVortexMixer.ControllerName, action: MainMenu.BSLDNAExt_LPVortexMixer.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_LPVortexMixer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_LPVortexMixer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_MicroLabNIMBUS4.ControllerName, action: MainMenu.BSLDNAExt_MicroLabNIMBUS4.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_MicroLabNIMBUS4.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_MicroLabNIMBUS4.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_NanoDropOne.ControllerName, action: MainMenu.BSLDNAExt_NanoDropOne.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_NanoDropOne.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_NanoDropOne.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_NanoPhotometer.ControllerName, action: MainMenu.BSLDNAExt_NanoPhotometer.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_NanoPhotometer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_NanoPhotometer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_PerkinElmerChemagic360.ControllerName, action: MainMenu.BSLDNAExt_PerkinElmerChemagic360.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_PerkinElmerChemagic360.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_PerkinElmerChemagic360.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_PerkinElmerJanusG3.ControllerName, action: MainMenu.BSLDNAExt_PerkinElmerJanusG3.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_PerkinElmerJanusG3.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_PerkinElmerJanusG3.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_QIAsymphonySP.ControllerName, action: MainMenu.BSLDNAExt_QIAsymphonySP.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_QIAsymphonySP.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_QIAsymphonySP.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLDNAExt_Qubit4Fluorometer.ControllerName, action: MainMenu.BSLDNAExt_Qubit4Fluorometer.ActionName)">
                        <a href="@MainMenu.BSLDNAExt_Qubit4Fluorometer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLDNAExt_Qubit4Fluorometer.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>


            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Bio Safety Lab - Sample Mgmt.</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_BioSafetyCabinet.ControllerName, action: MainMenu.BSLSamMgmt_BioSafetyCabinet.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_BioSafetyCabinet.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_BioSafetyCabinet.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_BradyPrinteri5100.ControllerName, action: MainMenu.BSLSamMgmt_BradyPrinteri5100.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_BradyPrinteri5100.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_BradyPrinteri5100.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_CenceCentrifugeCL5R.ControllerName, action: MainMenu.BSLSamMgmt_CenceCentrifugeCL5R.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_CenceCentrifugeCL5R.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_CenceCentrifugeCL5R.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_Centrifuge.ControllerName, action: MainMenu.BSLSamMgmt_Centrifuge.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_Centrifuge.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_Centrifuge.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_Centrifuge5702.ControllerName, action: MainMenu.BSLSamMgmt_Centrifuge5702.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_Centrifuge5702.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_Centrifuge5702.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_DellDeskComp.ControllerName, action: MainMenu.BSLSamMgmt_DellDeskComp.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_ESCOClassIITypeA2.ControllerName, action: MainMenu.BSLSamMgmt_ESCOClassIITypeA2.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_ESCOClassIITypeA2.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_ESCOClassIITypeA2.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_LPVortexMixer.ControllerName, action: MainMenu.BSLSamMgmt_LPVortexMixer.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_LPVortexMixer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_LPVortexMixer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_MicroLabSTARlet.ControllerName, action: MainMenu.BSLSamMgmt_MicroLabSTARlet.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_MicroLabSTARlet.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_MicroLabSTARlet.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_MultitubeVortexer.ControllerName, action: MainMenu.BSLSamMgmt_MultitubeVortexer.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_MultitubeVortexer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_MultitubeVortexer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_Refrigerator.ControllerName, action: MainMenu.BSLSamMgmt_Refrigerator.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_Refrigerator.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_Refrigerator.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_STPlusSeriesCentrifuge.ControllerName, action: MainMenu.BSLSamMgmt_STPlusSeriesCentrifuge.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_STPlusSeriesCentrifuge.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_STPlusSeriesCentrifuge.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.BSLSamMgmt_TheromoMixer.ControllerName, action: MainMenu.BSLSamMgmt_TheromoMixer.ActionName)">
                        <a href="@MainMenu.BSLSamMgmt_TheromoMixer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.BSLSamMgmt_TheromoMixer.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>CP-1</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.CP1_DellDeskComp.ControllerName, action: MainMenu.CP1_DellDeskComp.ActionName)">
                        <a href="@MainMenu.CP1_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.CP1_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.CP1_ThermoFisher80.ControllerName, action: MainMenu.CP1_ThermoFisher80.ActionName)">
                        <a href="@MainMenu.CP1_ThermoFisher80.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.CP1_ThermoFisher80.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>ILLUMINA Library Construction Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.ILLUMINALibConst_Others.ControllerName, action: MainMenu.ILLUMINALibConst_Others.ActionName)">
                        <a href="@MainMenu.ILLUMINALibConst_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ILLUMINALibConst_Others.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>ILLUMINA Sequencing Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.ILLUMINASeqLab_NovaSeq6000.ControllerName, action: MainMenu.ILLUMINASeqLab_NovaSeq6000.ActionName)">
                        <a href="@MainMenu.ILLUMINASeqLab_NovaSeq6000.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ILLUMINASeqLab_NovaSeq6000.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ILLUMINASeqLab_Others.ControllerName, action: MainMenu.ILLUMINASeqLab_Others.ActionName)">
                        <a href="@MainMenu.ILLUMINASeqLab_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ILLUMINASeqLab_Others.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Laboratory 1</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.Lab1_DellDeskComp.ControllerName, action: MainMenu.Lab1_DellDeskComp.ActionName)">
                        <a href="@MainMenu.Lab1_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab1_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.Lab1_Others.ControllerName, action: MainMenu.Lab1_Others.ActionName)">
                        <a href="@MainMenu.Lab1_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab1_Others.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Laboratory 2</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.Lab2_DellDeskComp.ControllerName, action: MainMenu.Lab2_DellDeskComp.ActionName)">
                        <a href="@MainMenu.Lab2_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab2_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.Lab2_Others.ControllerName, action: MainMenu.Lab2_Others.ActionName)">
                        <a href="@MainMenu.Lab2_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab2_Others.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Laboratory 3</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.Lab3_DellDeskComp.ControllerName, action: MainMenu.Lab3_DellDeskComp.ActionName)">
                        <a href="@MainMenu.Lab3_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab3_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.Lab3_Others.ControllerName, action: MainMenu.Lab3_Others.ActionName)">
                        <a href="@MainMenu.Lab3_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab3_Others.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Laboratory 4</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.Lab4_DellDeskComp.ControllerName, action: MainMenu.Lab4_DellDeskComp.ActionName)">
                        <a href="@MainMenu.Lab4_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab4_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.Lab4_Others.ControllerName, action: MainMenu.Lab4_Others.ActionName)">
                        <a href="@MainMenu.Lab4_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.Lab4_Others.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>MGI Library Construction Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_TapeStation4200.ControllerName, action: MainMenu.MGILibConstLab_TapeStation4200.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_TapeStation4200.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_TapeStation4200.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_Centrifuge5810R.ControllerName, action: MainMenu.MGILibConstLab_Centrifuge5810R.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_Centrifuge5810R.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_Centrifuge5810R.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_Fridge.ControllerName, action: MainMenu.MGILibConstLab_Fridge.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_Fridge.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_Fridge.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_HaierHYC6102c8c.ControllerName, action: MainMenu.MGILibConstLab_HaierHYC6102c8c.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_HaierHYC6102c8c.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_HaierHYC6102c8c.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_MGISP100.ControllerName, action: MainMenu.MGILibConstLab_MGISP100.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_MGISP100.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_MGISP100.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_MGISP960.ControllerName, action: MainMenu.MGILibConstLab_MGISP960.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_MGISP960.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_MGISP960.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_Others.ControllerName, action: MainMenu.MGILibConstLab_Others.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_Others.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_PureWaterSystem.ControllerName, action: MainMenu.MGILibConstLab_PureWaterSystem.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_PureWaterSystem.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_PureWaterSystem.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_ThermalCycler.ControllerName, action: MainMenu.MGILibConstLab_ThermalCycler.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_ThermalCycler.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_ThermalCycler.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGILibConstLab_Vortexer.ControllerName, action: MainMenu.MGILibConstLab_Vortexer.ActionName)">
                        <a href="@MainMenu.MGILibConstLab_Vortexer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGILibConstLab_Vortexer.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>MGI Sequencing Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_Cabinet.ControllerName, action: MainMenu.MGISeqLab_Cabinet.ActionName)">
                        <a href="@MainMenu.MGISeqLab_Cabinet.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_Cabinet.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_Freezer.ControllerName, action: MainMenu.MGISeqLab_Freezer.ActionName)">
                        <a href="@MainMenu.MGISeqLab_Freezer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_Freezer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_G400.ControllerName, action: MainMenu.MGISeqLab_G400.ActionName)">
                        <a href="@MainMenu.MGISeqLab_G400.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_G400.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_PlateCentrifuge.ControllerName, action: MainMenu.MGISeqLab_PlateCentrifuge.ActionName)">
                        <a href="@MainMenu.MGISeqLab_PlateCentrifuge.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_PlateCentrifuge.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_PureWaterSystem.ControllerName, action: MainMenu.MGISeqLab_PureWaterSystem.ActionName)">
                        <a href="@MainMenu.MGISeqLab_PureWaterSystem.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_PureWaterSystem.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_Refrigerator.ControllerName, action: MainMenu.MGISeqLab_Refrigerator.ActionName)">
                        <a href="@MainMenu.MGISeqLab_Refrigerator.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_Refrigerator.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_T10BiochemicalPlatformPart.ControllerName, action: MainMenu.MGISeqLab_T10BiochemicalPlatformPart.ActionName)">
                        <a href="@MainMenu.MGISeqLab_T10BiochemicalPlatformPart.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_T10BiochemicalPlatformPart.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_T10Loader.ControllerName, action: MainMenu.MGISeqLab_T10Loader.ActionName)">
                        <a href="@MainMenu.MGISeqLab_T10Loader.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_T10Loader.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_T10OpticalPlatformPart.ControllerName, action: MainMenu.MGISeqLab_T10OpticalPlatformPart.ActionName)">
                        <a href="@MainMenu.MGISeqLab_T10OpticalPlatformPart.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_T10OpticalPlatformPart.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_T7.ControllerName, action: MainMenu.MGISeqLab_T7.ActionName)">
                        <a href="@MainMenu.MGISeqLab_T7.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_T7.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_T7Loader.ControllerName, action: MainMenu.MGISeqLab_T7Loader.ActionName)">
                        <a href="@MainMenu.MGISeqLab_T7Loader.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_T7Loader.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.MGISeqLab_Ztron.ControllerName, action: MainMenu.MGISeqLab_Ztron.ActionName)">
                        <a href="@MainMenu.MGISeqLab_Ztron.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.MGISeqLab_Ztron.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>ONT Library Construction Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.ONTLibConstLab_MicroLabNGSSTAR.ControllerName, action: MainMenu.ONTLibConstLab_MicroLabNGSSTAR.ActionName)">
                        <a href="@MainMenu.ONTLibConstLab_MicroLabNGSSTAR.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTLibConstLab_MicroLabNGSSTAR.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTLibConstLab_DellDeskComp.ControllerName, action: MainMenu.ONTLibConstLab_DellDeskComp.ActionName)">
                        <a href="@MainMenu.ONTLibConstLab_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTLibConstLab_DellDeskComp.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>ONT Sequencing Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_Centrifuge5424.ControllerName, action: MainMenu.ONTSeqLab_Centrifuge5424.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_Centrifuge5424.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_Centrifuge5424.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_Centrifuge5810R.ControllerName, action: MainMenu.ONTSeqLab_Centrifuge5810R.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_Centrifuge5810R.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_Centrifuge5810R.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_DellDeskComp.ControllerName, action: MainMenu.ONTSeqLab_DellDeskComp.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_HPLaserMFP137fnw.ControllerName, action: MainMenu.ONTSeqLab_HPLaserMFP137fnw.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_HPLaserMFP137fnw.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_HPLaserMFP137fnw.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_IndDehumidifierClimatePlus.ControllerName, action: MainMenu.ONTSeqLab_IndDehumidifierClimatePlus.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_IndDehumidifierClimatePlus.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_IndDehumidifierClimatePlus.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_PharmRef1.ControllerName, action: MainMenu.ONTSeqLab_PharmRef1.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_PharmRef1.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_PharmRef1.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_PharmRef2.ControllerName, action: MainMenu.ONTSeqLab_PharmRef2.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_PharmRef2.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_PharmRef2.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_PromethIONDataAcqTower.ControllerName, action: MainMenu.ONTSeqLab_PromethIONDataAcqTower.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_PromethIONDataAcqTower.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_PromethIONDataAcqTower.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_PromethIONSeqUnit.ControllerName, action: MainMenu.ONTSeqLab_PromethIONSeqUnit.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_PromethIONSeqUnit.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_PromethIONSeqUnit.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.ONTSeqLab_ThermofisherSciFridge.ControllerName, action: MainMenu.ONTSeqLab_ThermofisherSciFridge.ActionName)">
                        <a href="@MainMenu.ONTSeqLab_ThermofisherSciFridge.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.ONTSeqLab_ThermofisherSciFridge.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>R and D Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_BioSafetyCabinet.ControllerName, action: MainMenu.RDLab_BioSafetyCabinet.ActionName)">
                        <a href="@MainMenu.RDLab_BioSafetyCabinet.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_BioSafetyCabinet.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_Centrifuge5424R.ControllerName, action: MainMenu.RDLab_Centrifuge5424R.ActionName)">
                        <a href="@MainMenu.RDLab_Centrifuge5424R.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_Centrifuge5424R.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_CompactDrybathS.ControllerName, action: MainMenu.RDLab_CompactDrybathS.ActionName)">
                        <a href="@MainMenu.RDLab_CompactDrybathS.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_CompactDrybathS.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_DellDeskComp.ControllerName, action: MainMenu.RDLab_DellDeskComp.ActionName)">
                        <a href="@MainMenu.RDLab_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_ESCOClassIITypeA2BioSafetyCabinet.ControllerName, action: MainMenu.RDLab_ESCOClassIITypeA2BioSafetyCabinet.ActionName)">
                        <a href="@MainMenu.RDLab_ESCOClassIITypeA2BioSafetyCabinet.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_ESCOClassIITypeA2BioSafetyCabinet.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_FastPrep966010500.ControllerName, action: MainMenu.RDLab_FastPrep966010500.ActionName)">
                        <a href="@MainMenu.RDLab_FastPrep966010500.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_FastPrep966010500.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_GelDocE7Imager.ControllerName, action: MainMenu.RDLab_GelDocE7Imager.ActionName)">
                        <a href="@MainMenu.RDLab_GelDocE7Imager.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_GelDocE7Imager.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_HaierDW40L508DeepFreezer40c20c.ControllerName, action: MainMenu.RDLab_HaierDW40L508DeepFreezer40c20c.ActionName)">
                        <a href="@MainMenu.RDLab_HaierDW40L508DeepFreezer40c20c.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_HaierDW40L508DeepFreezer40c20c.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_HaierHYC6102c8c.ControllerName, action: MainMenu.RDLab_HaierHYC6102c8c.ActionName)">
                        <a href="@MainMenu.RDLab_HaierHYC6102c8c.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_HaierHYC6102c8c.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_HeatStri.ControllerName, action: MainMenu.RDLab_HeatStri.ActionName)">
                        <a href="@MainMenu.RDLab_HeatStri.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_HeatStri.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_HulaMixer.ControllerName, action: MainMenu.RDLab_HulaMixer.ActionName)">
                        <a href="@MainMenu.RDLab_HulaMixer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_HulaMixer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_LPVortexMixer.ControllerName, action: MainMenu.RDLab_LPVortexMixer.ActionName)">
                        <a href="@MainMenu.RDLab_LPVortexMixer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_LPVortexMixer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_MasterCycler.ControllerName, action: MainMenu.RDLab_MasterCycler.ActionName)">
                        <a href="@MainMenu.RDLab_MasterCycler.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_MasterCycler.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_MettlerToledoNEWClassicMF.ControllerName, action: MainMenu.RDLab_MettlerToledoNEWClassicMF.ActionName)">
                        <a href="@MainMenu.RDLab_MettlerToledoNEWClassicMF.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_MettlerToledoNEWClassicMF.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_MicrowaveOven.ControllerName, action: MainMenu.RDLab_MicrowaveOven.ActionName)">
                        <a href="@MainMenu.RDLab_MicrowaveOven.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_MicrowaveOven.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_MiniSpin.ControllerName, action: MainMenu.RDLab_MiniSpin.ActionName)">
                        <a href="@MainMenu.RDLab_MiniSpin.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_MiniSpin.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_NanodropOne.ControllerName, action: MainMenu.RDLab_NanodropOne.ActionName)">
                        <a href="@MainMenu.RDLab_NanodropOne.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_NanodropOne.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_PowerPacBasic.ControllerName, action: MainMenu.RDLab_PowerPacBasic.ActionName)">
                        <a href="@MainMenu.RDLab_PowerPacBasic.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_PowerPacBasic.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_PrecisionGP10WaterBath.ControllerName, action: MainMenu.RDLab_PrecisionGP10WaterBath.ActionName)">
                        <a href="@MainMenu.RDLab_PrecisionGP10WaterBath.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_PrecisionGP10WaterBath.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_Qubit4Fluorometer.ControllerName, action: MainMenu.RDLab_Qubit4Fluorometer.ActionName)">
                        <a href="@MainMenu.RDLab_Qubit4Fluorometer.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_Qubit4Fluorometer.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_SWP01.ControllerName, action: MainMenu.RDLab_SWP01.ActionName)">
                        <a href="@MainMenu.RDLab_SWP01.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_SWP01.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_ThermalCycler.ControllerName, action: MainMenu.RDLab_ThermalCycler.ActionName)">
                        <a href="@MainMenu.RDLab_ThermalCycler.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_ThermalCycler.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_ThermoScientificMyspin6.ControllerName, action: MainMenu.RDLab_ThermoScientificMyspin6.ActionName)">
                        <a href="@MainMenu.RDLab_ThermoScientificMyspin6.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_ThermoScientificMyspin6.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RDLab_ThermoScientificMyspin12.ControllerName, action: MainMenu.RDLab_ThermoScientificMyspin12.ActionName)">
                        <a href="@MainMenu.RDLab_ThermoScientificMyspin12.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RDLab_ThermoScientificMyspin12.PageName</span>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-navicon"></i> <span>Robotics Lab</span>
                </a>
                <ul class="treeview-menu">
                    <li class="@Html.IsSelected(controller: MainMenu.RoboticsLab_DellDeskComp.ControllerName, action: MainMenu.RoboticsLab_DellDeskComp.ActionName)">
                        <a href="@MainMenu.RoboticsLab_DellDeskComp.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RoboticsLab_DellDeskComp.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RoboticsLab_MicroLabNIMBUS.ControllerName, action: MainMenu.RoboticsLab_MicroLabNIMBUS.ActionName)">
                        <a href="@MainMenu.RoboticsLab_MicroLabNIMBUS.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RoboticsLab_MicroLabNIMBUS.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RoboticsLab_MicroLabSTAR.ControllerName, action: MainMenu.RoboticsLab_MicroLabSTAR.ActionName)">
                        <a href="@MainMenu.RoboticsLab_MicroLabSTAR.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RoboticsLab_MicroLabSTAR.PageName</span>
                        </a>
                    </li>
                    <li class="@Html.IsSelected(controller: MainMenu.RoboticsLab_Others.ControllerName, action: MainMenu.RoboticsLab_Others.ActionName)">
                        <a href="@MainMenu.RoboticsLab_Others.Path">
                            <i class="fa fa-cube"></i> <span>@MainMenu.RoboticsLab_Others.PageName</span>
                        </a>
                    </li>                 
                </ul>
            </li>

            <li class="header">USER & ROLE</li>
            <li class="@Html.IsSelected(controller: MainMenu.User.ControllerName, action: MainMenu.User.ActionName)">
                <a href="@MainMenu.User.Path">
                    <i class="fa fa-users"></i> <span>@MainMenu.User.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangePassword.ControllerName, action: MainMenu.ChangePassword.ActionName)">
                <a href="@MainMenu.ChangePassword.Path">
                    <i class="fa fa-key"></i> <span>@MainMenu.ChangePassword.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.Role.ControllerName, action: MainMenu.Role.ActionName)">
                <a href="@MainMenu.Role.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.Role.PageName</span>
                </a>
            </li>
            <li class="@Html.IsSelected(controller: MainMenu.ChangeRole.ControllerName, action: MainMenu.ChangeRole.ActionName)">
                <a href="@MainMenu.ChangeRole.Path">
                    <i class="fa fa-gear"></i> <span>@MainMenu.ChangeRole.PageName</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>